<div class="navbar-container">
  <div class="navbar">
    <div class="navbar-logo">
      <%= link_to root_path, class: "logo" do %>
        <i class="far fa-comments fa-2x"></i>
      <% end %>
    </div>

    <div class="menu-navigation">
      <% if user_signed_in? %>
        <% if current_user.admin %>
          <%= link_to "New Poll", new_poll_path, class: "nav-new-poll" %>
        <% end %>
      <% end %>
    </div>

    <div class="menu-navigation">
      <% if user_signed_in? %>
        <span>Logged in as: <strong><%= current_user.email %></strong></span>
        <%= link_to edit_user_registration_path, class: "nav-settings" do %>
          <i class="fas fa-cog fa-2x"></i>
        <% end %>

        <%= link_to destroy_user_session_path, method: :delete, class: "logOut" do %>
          <i class="fas fa-sign-out-alt fa-2x"></i>
        <% end %>
      <% end %>

      <% if !user_signed_in? %>
        <%= link_to new_user_session_path, class: "logIn" do %>
          <i class="far fa-user-circle fa-2x"></i>
        <% end %>
      <% end %>

    </div>


  </div>
</div>