<div class="index-container">
  <% if user_signed_in? %>
    <%# signed in as admin %>
    <% if current_user.admin %>
      <h1>Polls lined up</h1>
      <ul class="current-polls">
        <% @polls.each do |poll| %>
          <li class="lined-up-poll">
            <%= link_to poll.title, poll %>
          </li>
        <% end %>
      </ul>
    <% else %>
    <%# signed in as normal user %>
      <h1>Focus Poll</h1>
      <% current_poll = @polls.first %>
      <% if @polls.length > 0 %>
        <%= link_to current_poll.title, current_poll, class: "current-focus-poll-loggedIn" %>
      <% else %>
        <span class="current-focus-poll">
          Hi <%= current_user.username %> 👋
        </span>
        <br>
        <span class="current-focus-poll">
          No polls are life right now.
        </span>
        <span class="current-focus-poll">
          Please check again later.
        </span>
      <% end %>
    <% end %>

  <% else %>
    <%# if not signed in %>
    <h1>Focus Poll</h1>
    <% current_poll = @polls.first %>
    <% if @polls.length > 0 %>
      <span class="current-focus-poll">
        <%= link_to current_poll.title, current_poll %>
      </span>
    <% else %>
      <span class="current-focus-poll">
        No polls are life right now.
      </span>
      <span class="current-focus-poll">
        Please check again later.
      </span>
    <% end %>
  <% end %>



  <% if user_signed_in? %>
    <% if current_user.admin %>
      <%= link_to "New Poll", new_poll_path, class: "new-poll" %>
    <% end %>
  <% end %>
</div>