<div class="show-container">
  
  <div class="poll-title">
    <h1><%= @poll.title %></h1>
  </div>
  <% if !user_signed_in? %>
    <div class="participate">
      <span class="participate-msg">
        Sign in to <ruby class="participate-inner-msg">participate<rt>↗</rt></ruby>
      </span>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <% if current_user.admin %>
      <ul class="poll-settings">
        <li class="edit-poll"><%= link_to "Edit Poll", edit_poll_path(@poll) %></li>
        <li class="delete-poll"><%= link_to "Delete Poll", poll_path(@poll), method: :delete, data: { confirm: "Are you sure?"} %></li>
      </ul>
    <% end %>
  <% end %>

  <h3>Select your answer:</h3>

  <% answers_amount = @poll.answers.size %>
  <% if answers_amount == 0%>
    <h5>Add a possible answer to your question:</h5>
    <%= render 'answers/form' %>
  <% end %>

  <% if answers_amount > 0 %>
    <% if user_signed_in? %>
      <% user_votes = current_user.votes.up.votables.size %>
      <% if user_votes > 0 %>
        <%= render 'polls/thanks' %>
      <% else %>
        <%= render @poll.answers %>
      <% end %>
    <% else %>
      <%= render @poll.answers %>
    <% end %>
  
      <% if user_signed_in? %>
        <% if current_user.admin %>
          <div class="results-wrapper">

            <div class="table-wrapper">
              <table class="results-table">
                <thead class="table-mainhead">
                  <tr class="table-row">
                    <th class="table-header">Votes</th>
                    <th class="table-header">Answers</th>
                  </tr>
                </thead>

                <tbody class="table-body">
                  <% @poll.answers.each do |answer| %>
                    <% if answer.votes_for.size > 0 %>
                      <tr class="table-row">
                        <td class="answer-votes"><%= answer.votes_for.size %></td>
                        <td class="answer-title"><%= answer.title %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>

            <div class="pie-graph-wrapper">
              <canvas id="myChart_2" aria-label="Focus Polls Results" role="img"></canvas>
            </div>

          </div>
          <div class="bar-graph-wrapper">
            <canvas id="myChart" aria-label="Focus Polls Results" role="img"></canvas>
          </div>

        <% end %>
      <% end %>

  <% end %>

</div>
<br>
<%= link_to "Home", root_path, class: "homelink" %>